<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsSecureService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://riskmanagerintegration.test.local/SOARI.svc" binding="wsHttpBinding" bindingConfiguration="wsSecureService" contract="SoapiClient.ISOARIFacade" name="wsSecureService" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DbServiceContext" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-DVD3U6U;Initial Catalog=DbWinService;Persist Security Info=True;User ID=sa;Password=opa123."/>
  </connectionStrings>
  <appSettings>
    <add key="HashKey" value="PlatanoMaduro"/>
    <add key="HashKey" value="PlatanoMaduro"/>
    <add key="001-ServiceTaskSyncJob" value="0001 $ 0 15 15 1/1 * ? *"/>
    <add key="002-ServiceTaskSyncJob" value="0001 $ 0 16 16 1/1 * ? *"/>
    <add key="003-ServiceTaskSyncJob" value="0002 $ 0 17 17 1/1 * ? *"/>
    <add key="004-ServiceTaskSyncJob" value="0003 $ 0 18 18 1/1 * ? *"/>

    <add key="ModeratorSyncJob" value="0 59 23 1/1 * ? *"/>
  </appSettings>
</configuration>