<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsSecureService" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://riskmanagerintegration.test.local/SOARI.svc"
          binding="wsHttpBinding" bindingConfiguration="wsSecureService"
          contract="SoapiClient.ISOARIFacade" name="wsSecureService" />
    </client>
  </system.serviceModel>
</configuration>